body{
    /*background-image: url(horses.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: gray;
    /*text-align: center;*/
}

.box{
    /*background: linear-gradient(to left,#5c5c3d, #e0e0d1);
    box-shadow: 3px 4px 2px red;*/
}

h1{
    color: wheat;
    line-height: 10px;
    font-family: 'Dancing+Script',serif,sans-serif;
}
h2{
    color: wheat;
    line-height: 10px;
    font-family: 'Dosis',serif,sans-serif;
}
h3{
    color: wheat;
    line-height: 10px;
    font-family: 'Kolker+Brush'serif,sans-serif;
}
a{
    font-size: 20px;
    color: greenyellow;
    font-style: oblique;
    text-decoration: none;
    word-spacing: 10px;
    text-transform: uppercase;
}
img{
    max-width: 100%;
    height: auto;
    padding: 2px;
    margin: auto;
    display: block;
}
.picture{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: 2px;
    border: 5px dotted black;
}

ul li{
    color: red;
    font-size: 25px;
}
ul > li{
    color: black;
    font-size: 20;
}
.format{
    color:aqua; font-size: 20px;
    line-height: 20p;
    text-transform: uppercase;
}
.padding{
    color:antiquewhite;
    background: red;
    border-radius: 10px;
    border:none;
    font-size: 25px;
    padding: 20px 10px 30px 40px;
}
.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear:both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

* {
    box-sizing: border-box;
}

[class*="col-"] {
  border: 3px solid green;
  padding: 10px;
  float: left;
}
.names{
    font-size: 15px;
    color:blue;
    text-decoration: solid blue;
    text-transform: uppercase;
}
