body {
    background-color: darkgray;
}

h1 {
    font-size: 45px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px 5px red;
}

p {
    font-size: 25px;
    display: block;
    text-align: center;
    margin: 4px;
}

.inputBox {
    width: 100px;
    border-radius: 7px;
    padding: 5px;
    background-color: red;
    color: aliceblue;
    display: block;
    margin: auto;
    text-align: center;
}

.boxInput {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background-color: lightblue;
    color: blue;
    display: block;
    margin: auto;
}

h3 {
    font-size: 25px;
    text-align: center;
}