body {
    background: wheat;
}
h1 {
    color: red;
    font-family: 'Dancing+Script', serif,sans-serif ;
    font-size: 35px;
    text-align: center;
    text-shadow: 10px 5px 7px greenyellow;
    
}
img {
    border-radius: 10px;
    border: 5px solid red;
    padding: 2px;
    display: block;
    margin: auto;
    width: 650px;
    height: 400px;
}

ul li {
    color: blue;
    font-size: 20;
}
 a {
    text-decoration:none;
    color: brown;
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}
table {
    border: 10px;
    background: grey;
    color: black;
    font-size: 15px;
}
iframe {
    display: block;
    margin: auto;
    width: 560px;
    height: 315px;
    border-radius: 15px;
    border: 5px dotted green;
}
.row {
    display: flex;
    width: auto;
}
.row::after {
  display: block;
  clear: both;
  content: "";
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

* {
    box-sizing: border-box;
}
[class*="col-"] {
    border: 3px solid green;
  padding: 10px;
  float: left;
}
.picture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    border: 5px dashed red;
}
.names{
    font-size: 15px;
    color:blue;
    text-decoration: solid blue;
    text-transform: uppercase;
}
.votes {
    font-size: 15px;
    text-transform: uppercase;
    color:darkblue;
}
#submit{
    text-decoration: none;
    background: black;
    color:white;
    border-radius: 10px;
    border: 3px solid blue;
}
h2 {
    color: brown;
    font-family: 'Dosis',serif,sans-serif;
    font-size: 20px;
}
h3 {
    color: grey;
    font-family: 'Kolker+Brush&display=swap',serif,sans-serif;
    font-size: 20px;
}